# Status line config

set -g status              'on'      # Enable the status line
set -g status-bg           'default' # Status line background color
set -g status-justify      'left'    # Window list alignment
set -g status-left-length  '100'     # Maximum length of left status line
set -g status-right-length '100'     # Maximum length of right status line
set -g status-interval     '1'       # Refresh interval

# Message style
setw -g mode-style    "fg=#{{ dotfiles_color.gui.background }},bg=#{{ dotfiles_color.gui.yellow }}"
setw -g message-style "fg=#{{ dotfiles_color.gui.blue }},bg=#{{ dotfiles_color.gui.background }}"

set -g status-bg "#{{ dotfiles_color.gui.background_alt }}"

# Left and right statusline
set  -g status-left  "#[fg=#{{ dotfiles_color.gui.blue }}] #S "
set  -g status-right "#[fg=#{{ dotfiles_color.gui.blue }}]#(echo $USER)@#h "

# Window list format
setw -g window-status-format         "#I: #W "
setw -g window-status-current-format "#I: #W "

# Window list style
setw -g window-status-style         "fg=#{{ dotfiles_color.gui.bright_black }}"
setw -g window-status-current-style "fg=#{{ dotfiles_color.gui.blue }}"

# Window bell style
set -g window-status-bell-style "fg=#{{ dotfiles_color.gui.red }}"
