live_config_reload: true

font:
  normal:
    family: Hack Nerd Font
    style: Regular
  size: 12

colors:
  primary:
    background: "#{{ dotfiles_color.gui.background }}"
    foreground: "#{{ dotfiles_color.gui.foreground }}"

  normal:
    black:   "#{{ dotfiles_color.gui.black }}"
    red:     "#{{ dotfiles_color.gui.red }}"
    green:   "#{{ dotfiles_color.gui.green }}"
    yellow:  "#{{ dotfiles_color.gui.yellow }}"
    blue:    "#{{ dotfiles_color.gui.blue }}"
    magenta: "#{{ dotfiles_color.gui.magenta }}"
    cyan:    "#{{ dotfiles_color.gui.cyan }}"
    white:   "#{{ dotfiles_color.gui.white }}"

  bright:
    black:   "#{{ dotfiles_color.gui.bright_black }}"
    red:     "#{{ dotfiles_color.gui.bright_red }}"
    green:   "#{{ dotfiles_color.gui.bright_green }}"
    yellow:  "#{{ dotfiles_color.gui.bright_yellow }}"
    blue:    "#{{ dotfiles_color.gui.bright_blue }}"
    magenta: "#{{ dotfiles_color.gui.bright_magenta }}"
    cyan:    "#{{ dotfiles_color.gui.bright_cyan }}"
    white:   "#{{ dotfiles_color.gui.bright_white }}"

window:
  startup_mode: Maximized

  padding:
    x: 5
    y: 5

shell:
  program: /opt/homebrew/bin/tmux
  args:
    - new-session
    - -A
    - -s
    - main

key_bindings:
  - {key: T,     mods: Command,       command: {program: '/opt/homebrew/bin/tmux', args: ['new-window']}}
  - {key: W,     mods: Command,       command: {program: '/opt/homebrew/bin/tmux', args: ['kill-pane']}}
  - {key: D,     mods: Command,       command: {program: '/opt/homebrew/bin/tmux', args: ['split-window', '-h', '-c', '#{pane_current_path}']}}
  - {key: Tab,   mods: Control,       command: {program: '/opt/homebrew/bin/tmux', args: ['select-window', '-n']}}
  - {key: Tab,   mods: Control|Shift, command: {program: '/opt/homebrew/bin/tmux', args: ['select-window', '-p']}}
  - {key: Grave, mods: Control, command: {program: '/opt/homebrew/bin/tmux', args: ['select-pane', '-t', ':.+']}}

  - {key: H, mods: Control|Shift, command: {program: '/opt/homebrew/bin/tmux', args: ['select-pane', '-L']}}
  - {key: J, mods: Control|Shift, command: {program: '/opt/homebrew/bin/tmux', args: ['select-pane', '-D']}}
  - {key: K, mods: Control|Shift, command: {program: '/opt/homebrew/bin/tmux', args: ['select-pane', '-U']}}
  - {key: L, mods: Control|Shift, command: {program: '/opt/homebrew/bin/tmux', args: ['select-pane', '-R']}}


env:
  TERM: screen-256color
