run 'tmux source-file {{ dotfiles_tmux.config_dir }}/general.conf'
run 'tmux source-file {{ dotfiles_tmux.config_dir }}/windows.conf'
run 'tmux source-file {{ dotfiles_tmux.config_dir }}/panes.conf'
run 'tmux source-file {{ dotfiles_tmux.config_dir }}/statusline.conf'
run 'tmux source-file {{ dotfiles_tmux.config_dir }}/copy.conf'
