#!/usr/bin/env zsh

# Load anitgen.
source "{{ dotfiles_zsh.plugins_dir }}/antigen.zsh"

# Plugin list.
antigen bundles <<EOF
    hlissner/zsh-autopair
    zsh-users/zsh-autosuggestions
    zsh-users/zsh-syntax-highlighting
EOF

# Install plugins.
antigen apply

# Load plugin config.
source "{{ dotfiles_zsh.plugins_dir }}/autosuggest.zsh"
source "{{ dotfiles_zsh.plugins_dir }}/syntax_highlighting.zsh"
